# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'


    # Au moment de la création du token, on ajoute l'ip de l'utilisateur au payload pour plus de sécurité
    api.event.jwt_created_listener:
        class: App\EventListener\JWTCreatedListener
        arguments: [ '@request_stack' ]
        tags:
            - { 
                name: kernel.event_listener, 
                event: lexik_jwt_authentication.on_jwt_created, 
                method: onJWTCreated 
            }


    # Seul l'utilisateur qui a créé le token aura le droit de l'utiliser !
    # Au moment de la vérification du token, on compare l'ip de l'utilisateur avec l'ip du payload
    api.event.jwt_decoded_listener:
        class: App\EventListener\JWTDecodedListener
        arguments: [ '@request_stack' ]
        tags:
            - { 
                name: kernel.event_listener, 
                event: lexik_jwt_authentication.on_jwt_decoded, 
                method: onJWTDecoded 
            }


    # En cas de succes de l'authentification, on garde une trace de cette connexion dans la BDD
    api.event.jwt_success_listener:
        class: App\EventListener\JWTSuccessListener
        arguments: [ '@request_stack', '@doctrine.orm.entity_manager' ]
        tags:
            - { 
                name: kernel.event_listener, 
                event: lexik_jwt_authentication.on_authentication_success, 
                method: onJWTSuccess 
            }

