<ng-container *ngIf="isLoggedIn; else loginBlock">
    <app-drop-down-user
        *ngIf="user"
        [className]="className"
        [user]="user"
        [logout]="logout.bind(this)" />
</ng-container>
<ng-template #loginBlock>
    <a
        routerLink="/auth/login"
        ariaCurrentWhenActive="page"
        class="block rounded-lg text-sm font-medium"
        ><svg
            [class]="className"
            version="1.1"
            width="100%"
            height="100%"
            id="_x32_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 512 512"
            xml:space="preserve"
            fill="currentColor">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <g fill="currentColor">
                    <polygon
                        points="237.61,331.547 271.554,365.5 347.11,289.946 381.054,256 347.11,222.054 271.554,146.5 237.61,180.453 289.164,232 0,232 0,280 289.164,280 "></polygon>
                    <polygon
                        points="464,0 416,0 192,0 144,0 96,0 96,48 96,80 96,160 144,160 160,160 160,64 448,64 448,448 160,448 160,352 144,352 96,352 96,432 96,464 96,512 144,512 192,512 416,512 464,512 512,512 512,464 512,416 512,96 512,48 512,0 "></polygon>
                </g>
            </g>
        </svg>
    </a>
</ng-template>
